body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Header y Navbar */

section{
    position: relative;
    width: 100%;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: black;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px;
    font-weight: 600;
}

header .navbar{
    position: relative;
    display: flex;
}

header .navbar li{
    list-style: none;
    margin-left: 20px;
}

header .navbar li a{
    text-decoration: none;
    color: #3DADF2;
    font-weight: 600;
    padding: 5px;
    transition: 0.3s;
    font-size: 0.8em;
    text-transform: uppercase;
}

header .navbar li a:hover{
    color: black;
}

.navbar-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #fff;
}

.product-card {
            border-radius: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin: 10px;
            padding: 15px;
            background-color: #fff;
            width: 100%;
        }

.product-info {
    height: 100%;
}

.button-carrito{
    background-color: #3DADF2;
    color: white;
    transition: background-color 0.3s
}

.button-carrito:hover {
    background-color: #2A7BAF; /* Color de fondo para el hover */
}

.footer{
    background-color: #3DADF2;
    list-style: none;
}